/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    margin-bottom: 60px; /* Margin bottom by footer height */
}

.container {
    max-width: 960px;
}

.footer {
}

a:hover {
    text-decoration: none !important;
}
