{% extends "../_base.html" %}

{% block title %}Books{% endblock %}

{% block content %}
    <h1>Books</h1>
    <a href="/books/new">Add a new book</a>
    <table>
        <tr>
            <th></th>
            <th>Titre</th>
            <th>Auteur</th>
            <th>Collection</th>
            <th>Description</th>
        </tr>
        {% for book in books %}
            <tr>
                <td><image src="{{ book.thumbnail.url }}" height="80px" alt="{{ book.title }}"/></td>
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.collection }}</td>
                <td>{{ book.description }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}