{% extends "_base.html" %}

{% block title %}Book Detail{% endblock %}

{% block content %}
    <div class="card">
        {% if book.thumbnail %}<img src="{{ book.thumbnail.url }}" class="card-img-top"/>{% else %}Pas de
            couverture{% endif %}
        <div class="card-body">
            <h1 class="card-title">{{ book.title }}</h1>
            <p>Auteur: {{ book.author }}</p>
            <p>Collection: {{ book.collection }}</p>
            <p>Description: {{ book.description }}</p>
        </div>
    </div>
    <a href="{% url 'index_books' %}" class="btn btn-primary m-3">Retour</a>
{% endblock %}
