{% extends "_base.html" %}

{% block title %}Libraires{% endblock %}

{% block content %}
<h1>Librairies</h1>

<table class="table table-hover">
    <thead class="thead-light">
        <tr>
            <th scope="col">Nom</th>
            <th scope="col">Adresse</th>
            <th scope="col">Ville</th>
            <th scope="col">Code postal</th>
            <th scope="col">Pays</th>
            <th scope="col"></th>
            {% if user.is_authenticated and user.is_staff %}
            <th scope="col"></th>
            {% endif %}
        </tr>
    </thead>

    {% for library in libraries %}
    <tr>
        <td>{{ library.name }}</td>
        <td>{{ library.address }}</td>
        <td>{{ library.city }}</td>
        <td>{{ library.zipcode }}</td>
        <td>{{ library.country }}</td>
        <td>
            <a href="{% url 'details_library' library.id %}" class="btn btn-outline-primary">Détails</a>
        </td>
        {% if user.is_authenticated and user.is_staff %}
        <td>
            <a href="{% url 'delete_library' library.id %}" class="btn btn-danger">Supprimer</a>
        </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% if user.is_authenticated and user.is_staff %}
<a href="/libraries/new" class="btn btn-primary">Ajouter une librairie</a>
{% endif %}
{% endblock %}